{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main main-index{% endblock %}

{% block layout %}
  <div class="hero-unit">
    <h1>Incidents</h1>
    <p>
      There is a need for disclosure in Slackline related incidents so that as a community we can move forward.
    </p>
  </div>
  <div class="row">
    <div class="span4">
      <div class="well repo-info">
        <h2>Experience</h2>
        <p>Have an experience? Everyone can learn from it. It will make the sport safer as well as provide ground work for newcomers.</p>
      </div>
    </div>
    <div class="span4">
      <div class="well repo-info">
        <h2>Reflection</h2>
        <p>Experiencing something is not enough. Reflection on past experiences can bring about insight into what went wrong or what could have been done differently. 
        Write down the experience and reflect on it. Add Pictures, locations, videos, links, or any other information to paint the best possible picture of the experience.</p>
      </div>
    </div>
    <div class="span4">
      <div class="well repo-info">
        <h2>Collaborate</h2>
        <p>Experiences that result in danger or life threatening situations should bring about commentary from the community. With many more people, from various backgrounds and experiences, questions can
        be answered and everyone can learn from a much more vast knowledge pool.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1">
      Slackline incidents is a website dedicated to bring together the slackline community to document serious incidents and learn from them. Other communities have similar collections and it has greatly
      improved the safety of that sport. As such to make this activity safer we must all experience, reflect, and collaborate on solutions and come up with a detailed knowledgebase that is easy to
      use for veterans and newcomers alike.
    </div>
  </div>
{% endblock %}
